<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div id="app">
        <div class="wrap">
            <div class="container h-100">
                <div class="row justify-content-center aligh-items-center h-100">
                    <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="item">

                            <div class="top">
                                <div class="logo">
                                    <img src="https://i.postimg.cc/1X0V5Pkq/BMICLogo.png" alt="">
                                </div>
                                <div class="text">
                                    <h1>身高 (cm)</h1>
                                    <input type="number" class="high" v-model="high" @keyup.enter="caclculate">
                                    <h1>體重 (kg)</h1>
                                    <input type="number" class="weight" v-model="weight" @keyup.enter="caclculate">
                                </div>
                                <div class="button">
                                    <a href="#" class="theend" @click.prevent="caclculate">計算</a>
                                </div>
                            </div>

                            <div class="middle">
                                <h1>BMI紀錄</h1>
                                <button class="delete" @click="deleteAll">刪除紀錄</button>
                                <ul class="input" v-for="item in bmiArray">
                                    <li class='li'
                                        :class="{ 'blue': item.status == '過輕','green': item.status == '理想','liorange': item.status == '過重','red': item.status == '肥胖', }">
                                        <span><em>{{ item.status }}</em></span>
                                        <span>BMI<em>{{ item.bmi }}</em></span>
                                        <span>weight<em>{{ item.weight }} kg</em></span>
                                        <span>height<em>{{ item.high }} cm</em></span>
                                        <span><em>{{ item.timeStamp }}</em></span>
                                    </li>
                                </ul>
                            </div>
                            <footer>
                                <img src="https://i.postimg.cc/1X0V5Pkq/BMICLogo.png" alt="">
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
        Vue.component('bmi-saveData', {
            template: `<li class='li'>
                            <span><em>123</em></span>
                            <span>BMI<em>16.3</em></span>
                            <span>weight<em>50kg</em></span>
                            <span>height<em>180cm</em></span>
                            <span><em>2021-12-06</em></span>
                        </li>`

        })

        var app = new Vue({
            el: '#app',
            data: {
                message: 'hello',
                high: 0,
                weight: 0,
                bmiArray: [{
                    status: "過輕",
                    high: 183,
                    weight: 55,
                    bmi: 16.4,
                    timeStamp: "2020/12/6 21:13:44"
                }]
            },
            methods: {
                caclculate: function () {
                    this.weight / (this.high / 100)
                    var bmivalue = this.weight / ((this.high / 100) * (this.high / 100));
                    var stausText = '';

                    if (bmivalue < 18.5) {
                        stausText = '過輕';
                    } else if (bmivalue >= 18.5 && bmivalue <= 23.9) {
                        stausText = '理想';
                    } else if (bmivalue >= 24 && bmivalue <= 27.9) {
                        stausText = '過重';
                    } else if (bmivalue >= 28 && bmivalue) {
                        stausText = '肥胖';
                    }

                    var time = Date.now();
                    var date = new Date(time);


                    if (this.high == 0 || this.weight == 0) {
                        alert("請填寫完整資訊");
                    } else {
                        this.bmiArray.push({
                            status: stausText,
                            high: this.high,
                            weight: this.weight,
                            bmi: Math.round(this.weight / ((this.high / 100) * (this.high / 100)) *
                                100) / 100,
                            timeStamp: date.getFullYear() +
                                "/" + (date.getMonth() + 1) +
                                "/" + date.getDate() +
                                " " + date.getHours() +
                                ":" + date.getMinutes() +
                                ":" + date.getSeconds(),
                        })
                    }
                },
                deleteAll: function () {
                    this.bmiArray = [];
                }
            },
        });
    </script>
</body>

</html>