<!DOCTYPE html>
<html>

<head>
    <title>sort</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.ico" rel="shortcut icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

</head>

<body class="bg-lighter">
    <div class="container my-5">
        <div class="row">



            <div class="col-md-12 post">

                <h1 class="mt-0 text-muted">表格排序</h1>
                <div class="alert alert-secondary">
                    <p>提示：</p>
                    <ol class="mb-0">
                        <li>點擊價格或到期日即可排序</li>
                        <li>再次點擊可反轉</li>
                    </ol>
                </div>

                <div id="app">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>品名</th>
                                <th class="click" @click="sortItem = 'price'; reverseIcon = !reverseIcon">價格
                                    <span class="icon isReverse" :class="{inverse :reverseIcon}"
                                        v-if="sortItem === 'price'">
                                        <i class=" fas fa-angle-up text-success"></i>
                                    </span>
                                </th>
                                <th class="click" @click="sortItem = 'expiryDate'; reverseIcon = !reverseIcon">到期日
                                    <span class="icon isReverse" :class="{inverse :reverseIcon}"
                                        v-if="sortItem === 'expiryDate'">
                                        <i class=" fas fa-angle-up text-success"></i>
                                    </span>
                                </th>
                            </tr>
                            <tr v-for="item in filterData">
                                <td>{{ item.name }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.expiryDate }}</td>
                            </tr>
                        </thead>
                    </table>
                </div>

                <script>
                    var app = new Vue({
                        el: '#app',
                        data: {
                            data: [{
                                    name: '蘇打水',
                                    price: 30,
                                    expiryDate: 90
                                },
                                {
                                    name: '可樂',
                                    price: 65,
                                    expiryDate: 2
                                },
                                {
                                    name: '麵包',
                                    price: 32,
                                    expiryDate: 1
                                },
                                {
                                    name: '牛奶',
                                    price: 75,
                                    expiryDate: 600
                                },
                                {
                                    name: '餅乾',
                                    price: 120,
                                    expiryDate: 200
                                }
                            ],
                            sortItem: '',
                            reverseIcon: false,
                        },
                        computed: {
                            filterData() {
                                const vm = this;
                                const data = this.data;
                                var newData = data.sort(function (a, b) {
                                    a = a[vm.sortItem];
                                    b = b[vm.sortItem];
                                    return vm.reverseIcon === true ? b - a : a - b;
                                });
                                return newData;
                            }
                        }
                    });
                </script>

                <style>
                    .table th.click {
                        cursor: pointer;
                    }

                    .table th.click {
                        cursor: pointer;
                    }

                    .icon {
                        display: inline-block;
                    }

                    .icon.inverse {
                        transform: rotate(180deg)
                    }
                </style>


            </div>
        </div>
    </div>
</body>

</html>